{% if theme.ad.google.enabled and theme.ad.google.id %}
  <!-- Google ad. -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ theme.ad.google.id }}" crossorigin="anonymous"></script>
{% endif %}
